<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">  

<b> <font size='5'>  
ELEC PRICE PREDICTION CAPSTONE:</font>  

<font size='4'>Fully Consolidated DataFrame for Models</font> </b>

<font size='3'>  
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Manu Kalia Project Submission<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; DSI-7-SF<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 15-May-2019<br>
</font>

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Function-Definitions" data-toc-modified-id="Function-Definitions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Function Definitions</a></span></li><li><span><a href="#Read-in-Consolidated-Data-&amp;-Examine" data-toc-modified-id="Read-in-Consolidated-Data-&amp;-Examine-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Read in Consolidated Data &amp; Examine</a></span></li><li><span><a href="#Re-set-Datetime-as-Index,-&amp;-Convert-to-Calif.-Time" data-toc-modified-id="Re-set-Datetime-as-Index,-&amp;-Convert-to-Calif.-Time-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Re-set Datetime as Index, &amp; Convert to Calif. Time</a></span></li><li><span><a href="#Add-year,-month,-day,-and--hour-Columns" data-toc-modified-id="Add-year,-month,-day,-and--hour-Columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Add <code>year</code>, <code>month</code>, <code>day</code>, and  <code>hour</code> Columns</a></span></li><li><span><a href="#Train-test-split-and-Scale-the-Data" data-toc-modified-id="Train-test-split-and-Scale-the-Data-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Train-test-split and Scale the Data</a></span></li></ul></div>

---

## Imports

In [32]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

import pickle
import wget, os
import time
import glob
import pytz

import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import register_matplotlib_converters

register_matplotlib_converters()
%matplotlib inline
sns.set_style('whitegrid')

---

## Function Definitions

In [2]:
def index_to_datetime(df):
    df['datetime'] = pd.to_datetime(df['datetime'], utc=True).dt.round('H')
    df.set_index('datetime', inplace=True)
    df.sort_index(inplace=True)
    return df

In [3]:
def summarize(df):
    print(f'{df.shape[0]} rows,   {df.isna().sum().sum()} nulls')
    print(f'\n {df.head(3)}')
    return

---

## Read in Consolidated Data & Examine

In [4]:
df = pd.read_csv('../data/consolidated_data.csv')
df.head()

,datetime,date,hr_index,node,dam_price_per_mwh,hasp_price_per_mwh,rtm_price_per_mwh,7da_load_fcast_mw,2da_load_fcast_mw,dam_load_fcast_mw,...,fres_vis,fres_ceil,rive_temp,rive_wind,rive_vis,rive_ceil,redd_temp,redd_wind,redd_vis,redd_ceil
0,2016-01-01 01:00:00-08:00,2016-01-01,2,BAYSHOR2_1_N001,30.38613,25.030977,24.903873,21515.00,22070.77,22188.26,...,11265.0,22000.0,133.0,51.0,16093.0,22000.0,94.0,72.0,16093.0,22000.0
1,2016-01-01 02:00:00-08:00,2016-01-01,3,BAYSHOR2_1_N001,30.29141,24.563878,24.630057,20854.85,21419.40,21581.45,...,11265.0,22000.0,128.0,46.0,16093.0,22000.0,83.0,93.0,16093.0,22000.0
2,2016-01-01 03:00:00-08:00,2016-01-01,4,BAYSHOR2_1_N001,28.45127,24.775715,24.689828,20495.68,20997.22,21261.00,...,9656.0,22000.0,122.0,46.0,16093.0,22000.0,78.0,67.0,16093.0,22000.0
3,2016-01-01 04:00:00-08:00,2016-01-01,5,BAYSHOR2_1_N001,28.66504,24.923320,23.505206,20490.69,21008.41,21289.56,...,8047.0,22000.0,117.0,41.0,16093.0,22000.0,67.0,72.0,16093.0,22000.0
4,2016-01-01 05:00:00-08:00,2016-01-01,6,BAYSHOR2_1_N001,29.84836,25.353155,24.506423,20950.76,21464.04,21823.54,...,6437.0,22000.0,111.0,51.0,16093.0,22000.0,67.0,72.0,16093.0,22000.0

In [5]:
summarize(df)

29067 rows,   0 nulls

                     datetime        date  hr_index             node  \
0  2016-01-01 01:00:00-08:00  2016-01-01         2  BAYSHOR2_1_N001
1  2016-01-01 02:00:00-08:00  2016-01-01         3  BAYSHOR2_1_N001
2  2016-01-01 03:00:00-08:00  2016-01-01         4  BAYSHOR2_1_N001

   dam_price_per_mwh  hasp_price_per_mwh  rtm_price_per_mwh  \
0           30.38613           25.030977          24.903873
1           30.29141           24.563878          24.630057
2           28.45127           24.775715          24.689828

   7da_load_fcast_mw  2da_load_fcast_mw  dam_load_fcast_mw  ...  fres_vis  \
0           21515.00           22070.77           22188.26  ...   11265.0
1           20854.85           21419.40           21581.45  ...   11265.0
2           20495.68           20997.22           21261.00  ...    9656.0

   fres_ceil  rive_temp  rive_wind  rive_vis  rive_ceil  redd_temp  redd_wind  \
0    22000.0      133.0       51.0   16093.0    22000.0       94.0       72.0
1    22000.0      128.0       46.0   16093.0    22000.0       83.0       93.0
2    22000.0      122.0       46.0   16093.0    22000.0       78.0       67.0

   redd_vis  redd_ceil
0   16093.0    22000.0
1   16093.0    22000.0
2   16093.0    22000.0

[3 rows x 28 columns]

---

## Re-set Datetime as Index, & Convert to Calif. Time

In [6]:
df = index_to_datetime(df)
df = df.tz_convert('America/Los_Angeles')

df.head(3)

,date,hr_index,node,dam_price_per_mwh,hasp_price_per_mwh,rtm_price_per_mwh,7da_load_fcast_mw,2da_load_fcast_mw,dam_load_fcast_mw,rtm_load_fcast_mw,...,fres_vis,fres_ceil,rive_temp,rive_wind,rive_vis,rive_ceil,redd_temp,redd_wind,redd_vis,redd_ceil
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-01 01:00:00-08:00,2016-01-01,2,BAYSHOR2_1_N001,30.38613,25.030977,24.903873,21515.00,22070.77,22188.26,21331.6250,...,11265.0,22000.0,133.0,51.0,16093.0,22000.0,94.0,72.0,16093.0,22000.0
2016-01-01 02:00:00-08:00,2016-01-01,3,BAYSHOR2_1_N001,30.29141,24.563878,24.630057,20854.85,21419.40,21581.45,20648.3125,...,11265.0,22000.0,128.0,46.0,16093.0,22000.0,83.0,93.0,16093.0,22000.0
2016-01-01 03:00:00-08:00,2016-01-01,4,BAYSHOR2_1_N001,28.45127,24.775715,24.689828,20495.68,20997.22,21261.00,20389.0000,...,9656.0,22000.0,122.0,46.0,16093.0,22000.0,78.0,67.0,16093.0,22000.0

---

## Add `year`, `month`, `day`, and  `hour` Columns  
(drop the `node`, `date`, and `hr` columns

In [7]:
df.drop(columns=['node', 'date', 'hr_index'], inplace=True)
df.head(3)

,dam_price_per_mwh,hasp_price_per_mwh,rtm_price_per_mwh,7da_load_fcast_mw,2da_load_fcast_mw,dam_load_fcast_mw,rtm_load_fcast_mw,water_acre_feet,sand_temp,sand_wind,...,fres_vis,fres_ceil,rive_temp,rive_wind,rive_vis,rive_ceil,redd_temp,redd_wind,redd_vis,redd_ceil
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-01 01:00:00-08:00,30.38613,25.030977,24.903873,21515.00,22070.77,22188.26,21331.6250,6559389.0,156.0,26.0,...,11265.0,22000.0,133.0,51.0,16093.0,22000.0,94.0,72.0,16093.0,22000.0
2016-01-01 02:00:00-08:00,30.29141,24.563878,24.630057,20854.85,21419.40,21581.45,20648.3125,6840908.0,144.0,21.0,...,11265.0,22000.0,128.0,46.0,16093.0,22000.0,83.0,93.0,16093.0,22000.0
2016-01-01 03:00:00-08:00,28.45127,24.775715,24.689828,20495.68,20997.22,21261.00,20389.0000,6557979.0,139.0,0.0,...,9656.0,22000.0,122.0,46.0,16093.0,22000.0,78.0,67.0,16093.0,22000.0

In [8]:
df['year']  = df.index.year
df['month'] = df.index.month
df['day']   = df.index.day
df['hour']  = df.index.hour

df.head(3)

,dam_price_per_mwh,hasp_price_per_mwh,rtm_price_per_mwh,7da_load_fcast_mw,2da_load_fcast_mw,dam_load_fcast_mw,rtm_load_fcast_mw,water_acre_feet,sand_temp,sand_wind,...,rive_vis,rive_ceil,redd_temp,redd_wind,redd_vis,redd_ceil,year,month,day,hour
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-01 01:00:00-08:00,30.38613,25.030977,24.903873,21515.00,22070.77,22188.26,21331.6250,6559389.0,156.0,26.0,...,16093.0,22000.0,94.0,72.0,16093.0,22000.0,2016,1,1,1
2016-01-01 02:00:00-08:00,30.29141,24.563878,24.630057,20854.85,21419.40,21581.45,20648.3125,6840908.0,144.0,21.0,...,16093.0,22000.0,83.0,93.0,16093.0,22000.0,2016,1,1,2
2016-01-01 03:00:00-08:00,28.45127,24.775715,24.689828,20495.68,20997.22,21261.00,20389.0000,6557979.0,139.0,0.0,...,16093.0,22000.0,78.0,67.0,16093.0,22000.0,2016,1,1,3

In [9]:
df.shape

(29067, 28)

In [10]:
df.to_csv('../data/pre-processed_data.csv')

---

## Train-test-split and Scale the Data

In [20]:
train_set_length = int(round((df.shape[0] * 0.75), 0))
test_set_length  = df.shape[0] - train_set_length

print(f'\nTrain: {train_set_length} rows\nTest:  {test_set_length} rows')

train = df.iloc[: train_set_length]
test  = df.iloc[train_set_length: ]

print(f'\nTrain set shape: {train.shape}\nTest set shape:  {test.shape}\n')

Train: 21800 rows
Test:  7267 rows

Train set shape: (21800, 28)
Test set shape:  (7267, 28)

In [27]:
train.head(3)

,dam_price_per_mwh,hasp_price_per_mwh,rtm_price_per_mwh,7da_load_fcast_mw,2da_load_fcast_mw,dam_load_fcast_mw,rtm_load_fcast_mw,water_acre_feet,sand_temp,sand_wind,...,rive_vis,rive_ceil,redd_temp,redd_wind,redd_vis,redd_ceil,year,month,day,hour
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-01 01:00:00-08:00,30.38613,25.030977,24.903873,21515.00,22070.77,22188.26,21331.6250,6559389.0,156.0,26.0,...,16093.0,22000.0,94.0,72.0,16093.0,22000.0,2016,1,1,1
2016-01-01 02:00:00-08:00,30.29141,24.563878,24.630057,20854.85,21419.40,21581.45,20648.3125,6840908.0,144.0,21.0,...,16093.0,22000.0,83.0,93.0,16093.0,22000.0,2016,1,1,2
2016-01-01 03:00:00-08:00,28.45127,24.775715,24.689828,20495.68,20997.22,21261.00,20389.0000,6557979.0,139.0,0.0,...,16093.0,22000.0,78.0,67.0,16093.0,22000.0,2016,1,1,3

In [28]:
test.head()

,dam_price_per_mwh,hasp_price_per_mwh,rtm_price_per_mwh,7da_load_fcast_mw,2da_load_fcast_mw,dam_load_fcast_mw,rtm_load_fcast_mw,water_acre_feet,sand_temp,sand_wind,...,rive_vis,rive_ceil,redd_temp,redd_wind,redd_vis,redd_ceil,year,month,day,hour
datetime,,,,,,,,,,,,,,,,,,,,,
2018-07-01 02:00:00-07:00,29.69366,29.104173,23.534568,22053.56,22030.18,22324.73,21792.0625,21873026.0,180.0,31.0,...,16093.0,22000.0,400.0,62.0,16093.0,22000.0,2018,7,1,2
2018-07-01 03:00:00-07:00,29.10472,27.884945,21.094333,21464.51,21430.11,21720.68,21113.1250,19719159.0,172.0,31.0,...,16093.0,22000.0,383.0,41.0,16093.0,22000.0,2018,7,1,3
2018-07-01 04:00:00-07:00,29.34643,25.761775,21.418978,21223.45,21218.12,21491.83,20803.6250,21458770.0,172.0,31.0,...,16093.0,22000.0,356.0,26.0,16093.0,22000.0,2018,7,1,4
2018-07-01 05:00:00-07:00,30.91718,25.976083,23.791108,21304.13,21259.22,21519.05,20772.1250,19676022.0,178.0,15.0,...,16093.0,22000.0,356.0,26.0,16093.0,22000.0,2018,7,1,5
2018-07-01 06:00:00-07:00,26.75131,23.313758,23.203258,21139.35,21041.60,21354.51,20466.7500,19669490.0,178.0,15.0,...,16093.0,22000.0,294.0,15.0,16093.0,22000.0,2018,7,1,6

In [21]:
ss = StandardScaler()

train_sc = ss.fit_transform(train)
test_sc  = ss.transform(test)

/Users/owner/anaconda3/envs/ds2/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/owner/anaconda3/envs/ds2/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/owner/anaconda3/envs/ds2/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [25]:
train_sc[:3]

array([[-0.11482404, -0.18424551, -0.13915323, -0.84692326, -0.74474251,
        -0.74224713, -0.70669176, -2.73020777, -0.7086721 , -0.16630715,
         0.35261661,  1.13302496, -0.99675419, -1.58482857, -0.8062305 ,
         0.74722948, -0.49310891,  1.08724283,  0.36415336,  0.66745159,
        -0.40302051,  1.78094229,  0.31242724,  0.6092383 , -1.06685945,
        -1.4476006 , -1.67663425, -1.51867069],
       [-0.11941127, -0.19565015, -0.14486503, -0.98183132, -0.87818796,
        -0.86529553, -0.84837755, -2.65868563, -1.01597934, -0.46629687,
         0.35261661,  1.13302496, -1.24124411, -1.58482857, -0.8062305 ,
         0.74722948, -0.52956734,  0.83542132,  0.36415336,  0.66745159,
        -0.45053018,  2.68716142,  0.31242724,  0.6092383 , -1.06685945,
        -1.4476006 , -1.67663425, -1.37407392],
       [-0.20852811, -0.19047796, -0.14361821, -1.05523119, -0.96467951,
        -0.9302761 , -0.90214636, -2.73056599, -1.14402402, -1.72625369,
         0.35261661,  1.13302496, -1.36348906, -1.58482857, -1.24397374,
         0.74722948, -0.57331745,  0.83542132,  0.36415336,  0.66745159,
        -0.47212549,  1.56517583,  0.31242724,  0.6092383 , -1.06685945,
        -1.4476006 , -1.67663425, -1.22947715]])

In [29]:
test_sc[:3]

array([[-0.14835993, -0.08479504, -0.16771707, -0.73686329, -0.75305814,
        -0.71457386, -0.6112194 ,  1.16034349, -0.09405763,  0.13368258,
         0.35261661, -1.0190341 ,  2.14827519, -0.21112564,  0.50727127,
         0.74722948,  0.68085241,  1.38942865,  0.36415336,  0.66745159,
         0.9186122 ,  1.34940937,  0.31242724,  0.6092383 ,  1.60811162,
         0.31709141, -1.67663425, -1.37407392],
       [-0.17688193, -0.1145635 , -0.21862061, -0.85724138, -0.87599382,
        -0.83706259, -0.75199804,  0.61313645, -0.29892912,  0.13368258,
         0.35261661, -1.0190341 ,  2.14827519, -0.21112564,  0.50727127,
         0.74722948,  0.68085241,  1.38942865,  0.36415336,  0.66745159,
         0.84518816,  0.44319025,  0.31242724,  0.6092383 ,  1.60811162,
         0.31709141, -1.67663425, -1.22947715],
       [-0.16517607, -0.16640248, -0.2118485 , -0.90650433, -0.91942398,
        -0.8834686 , -0.81617329,  1.05509846, -0.29892912,  0.13368258,
         0.35261661, -1.0190341 ,  2.14827519, -0.21112564,  0.50727127,
         0.74722948,  0.68085241,  1.38942865,  0.36415336,  0.66745159,
         0.72857351, -0.20410913,  0.31242724,  0.6092383 ,  1.60811162,
         0.31709141, -1.67663425, -1.08488038]])

In [30]:
train.to_csv('../data/processed/train.csv')
test.to_csv('../data/processed/test.csv')

In [40]:
with open('../data/processed/train.pkl', 'wb') as f:
    pickle.dump(train, f)
    
with open('../data/processed/test.pkl', 'wb') as f:
    pickle.dump(test, f)

with open('../data/processed/train_sc.pkl', 'wb') as f:
    pickle.dump(train_sc, f)
    
with open('../data/processed/test_sc.pkl', 'wb') as f:
    pickle.dump(test_sc, f)

In [41]:
# with open('../data/processed/train.pkl', 'rb') as f:
#     pickled_train = pickle.load(f)
    
# with open('../data/processed/test.pkl', 'rb') as f:
#     pickled_test = pickle.load(f)
    
# with open('../data/processed/train_sc.pkl', 'rb') as f:
#     pickled_train_sc = pickle.load(f)
    
# with open('../data/processed/test_sc.pkl', 'rb') as f:
#     pickled_test_sc = pickle.load(f)